<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.repository.HospitalMapper">
	<select id="searchAll" parameterType="string" resultType="hospitalDTO">
		select *
		from hospital
		where dong like concat('_', #{dong})
	</select>
</mapper>